[데이터 설명]



한국의 서울과 부산 지역 약 2,700여개 최근 2년간 아파트 경매물의 등기부, 임차, 감정가, 유찰 횟수, 낙찰가 등의 정보가 제공됩니다. 아파트 낙찰가를 예측해야 합니다. 

* 국토교통부 실거래가공개시스템(http://rt.molit.go.kr) 등 법적인 제약이 없는 외부 데이터(공공 데이터) 사용이 가능합니다.



[Files]

1. Auction_master_train.csv – 서울/부산 지역의 낙찰가를 포함하여 경매 물건 아파트의 위치, 감정가, 경매 개시/종결일 등의 기본 정보(*최근2년)

2. Auction_master_test.csv – 경매 낙찰가를 제외하고 train.csv와 동일 

3. Auction_submission.csv – 예측한 낙찰가를 기입하여 제출

4. Auctiuon_regist.csv – 아파트에 대한 등기 정보

    *개별 경매: 1개의 사건 번호에 여러 물건으로 경매 진행될 경우

    *과다등기: 등기명의인 수가 100인(말소등기포함)을 초과하는 경우

    *개별 경매 중 다음과 같은 사항이 발생 시, 등기 정보가 누락될 수 있습니다.

         a. 모든 물건의 등기부등본이 동일한 경우(1개만 발급받은 경우)

         b. 과다등기로 인한 등기부등본 발급이 어려운 경우 (예: 등기부등본에 채권자, 소유주 등 등재인이 너무 많아 등기부등본 발급이 안되는 경우)
         

5. Auctiuon_result.csv – 경매일자, 감정가, 최저매각가격, 경매 결과 데이터.

6. Auctiuon_rent.csv – 해당 아파트에 임차인이 있는 경우, 전입/점유 여부, 보증금, 월세 등의 데이터.

[경매 용어(아래url을 참조하세요)]

https://www.courtauction.go.kr/RetrieveAucTermInq.laf

In [1]:
import pandas as pd

In [2]:
dir_path = '/Users/hsyang/Documents/Data/dacon/17801_auction_price_data/Auction_master_kr/'

In [3]:
master_train_df = pd.read_csv(dir_path + 'Auction_master_train.csv')
master_test_df = pd.read_csv(dir_path + 'Auction_master_test.csv')
regist_df = pd.read_csv(dir_path + 'Auction_regist.csv')
rent_df = pd.read_csv(dir_path + 'Auction_rent.csv')
result_df = pd.read_csv(dir_path + 'Auction_result.csv')

In [4]:
regist_df.head(2)

,Auction_key,Auction_seq,Regist_type,Regist_class,Regist_date,Creditor,Regist_price
0,1,10001,집합건물등기,소유이전,20050715,Private,0
1,1,10002,집합건물등기,가압,20050914,푸른이상호저축은행,860547945

In [5]:
result_df.head(2)

,Auction_key,Auction_seq,Auction_date,Appraisal_price,Minimum_sales_price,Auction_results
0,1,1,2011-06-21 00:00:00,313000000,313000000,변경
1,1,2,2011-12-13 00:00:00,313000000,313000000,변경

In [6]:
rent_df.head(2)

,Auctiuon_key,Rent_class,Purpose_use,Occupied_part,Rent_date,Rent_deposit,Rent_monthly_price,Specific
0,1,전입,주거,201호전부,2007-09-14 00:00:00,53000000,250000,점유: 2007.09.14-\r\n조사서상:5300만
1,2,전입,주거,방3,2008-06-27 00:00:00,60000000,0,점유: 2005.09.12-

In [7]:
master_train_df.head(2)

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,...,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
0,2687,임의,개별,1766037301,정명감정,2017-07-26 00:00:00,2,1,12592.0,37.35,...,NaN,N,해운대해변로,30.0,NaN,2018-06-14 00:00:00,배당,35.162717,129.137048,760000000
1,2577,임의,일반,152946867,희감정,2016-09-12 00:00:00,2,1,42478.1,18.76,...,NaN,N,마린시티2로,33.0,NaN,2017-03-30 00:00:00,배당,35.156633,129.145068,971889999

In [8]:
len(regist_df), len(result_df), len(rent_df), len(master_train_df), len(master_test_df)

(20702, 8528, 1556, 1933, 829)